*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.stacked{
    position: absolute;
}


@media (min-width: 481px) and (max-width: 1023px) {
    body{
        background-color: green;
        font-family: 'Edu QLD Beginner', cursive;
        font-size: 30px;
        display: flex;
    }  
    #small{
        flex-basis: 66.66%;
    }
    #medium{
        flex-basis: 33.33%;
    }
    #large{
        position: absolute;
    }
    .stacked{
        position: relative;
    }
    
}
@media (min-width: 1024px){
    body{
        background-color: blue;
        font-family: 'Roboto Mono', monospace;
        font-size: 20px;
        display: flex;
        justify-content: flex-start;
    }
    .stacked{
        position: relative;
    }
}